* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: wheat;
  font-size: 1.5rem;
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background: linear-gradient(to right, rgb(121, 36, 50), rgb(121, 8, 67));
  overflow: hidden;
}

.cover-kiri {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  content: '';
  border-right: 1px solid white;
  box-shadow: inset 0 0px 5px white;
  background: linear-gradient(to right, rgb(121, 8, 67), rgb(121, 36, 50));
  transition: all .8s ease-in;
  z-index: 3;
}

.cover-kanan {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  content: '';
  border-left: 1px solid white;
  box-shadow: inset 0 0px 5px white;
  background: linear-gradient(to right, rgb(121, 36, 50), rgb(121, 8, 67));
  transition: all .8s ease-in;
  z-index: 3;
}

.cover-kanan > button {
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
  padding-inline: 15px;
  padding-block: 5px;
  background: linear-gradient(to right, rgb(121, 36, 50), rgb(121, 8, 67));
  border-radius: 5px;
  text-transform: capitalize;
  color: white;
  border: 2px solid white;
  box-shadow: 0 0px 5 px white;
  cursor: pointer;
}

.heart {
  position: absolute;
  font-size: 1em;
  color: #ff69b4;
  animation: grow linear infinite;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
}

#lirik {
  position: relative;
  z-index: 100;
}

#lirik > p {
  font-family: cursive;
  text-align: center;
  user-select: none;
}

p {
  user-select: none;
}

p::after {
  content: "";
  background-color: rgb(255, 255, 255);
  width: 3px;
  color: transparent;
  margin-left: 3px;
  height: auto;
  display: inline-block;
  animation: klip .6s alternate infinite ease-in-out;
  user-select: none;
}

.control {
  position: absolute;
  z-index: 1;
  height: 50px;
  width: 50px;
  bottom: 5vh;
  right: 5vw;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

i{
  cursor: pointer;
  font-size: 30px;
  color:rgb(90, 4, 4);
  user-select: none;
}

@keyframes grow {
  from { transform: scale(0); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

@keyframes klip {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@media screen and (max-width: 640px) {
  p {
    font-size: 1rem;
  }

  .control {
    height: 35px;
    width: 35px;
  }

  i {
    font-size: 20px;
  }
}
